h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
*{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
div{
    padding: 30px 20px;
    background-color: gray;
    position: relative;
}
#b1{
    text-align: center;
    color: white;
    background-color: rgb(215, 42, 152);
    border: 1px solid black;
    padding: 2px 10px 2px 10px;
    margin: 0px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
}
#b2{
    text-align: center;
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: 2px 10px 2px 10px;
    margin: 0px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
}
#b3{
    text-align: center;
    color: white;
    background-color: rgb(205, 148, 78);
    border: 1px solid black;
    padding: 2px 10px 2px 10px;
    margin: 0px;
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
}
@media (min-width: 992px) {
    div{
        float: left;
        border: 2px solid black;
        margin: 6px;
        width: 32%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    #a1,#a2{
        width: 48%;
        float: left;
        margin: 6px;
        border: 2px solid black;
    }
    #a3{
        width: 97%;
        float: left;
        border: 2px solid black;
        margin: 6px;
    }
}
@media (max-width: 768px) {
    div{
        width: 96%;
        float: left;
        border: 2px solid black;
        margin: 6px;
    }
}